body{
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;

    background-color: #fff;
    color: #1a1a1a;
    line-height: 1.6;;

    display: block;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    /* max-width: 1200px;
    margin: 0 auto;
    padding: 60px 20vw; */

    max-width: clamp(720px, 100vw, 1200px);
    margin: 0 auto;
    padding: 60px 15vw;
    /* padding: 60px clamp(16px, 4vw, 48px); */
}



h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
}


.intro{
    padding: 0 0 30px;
    border-bottom: 1px solid #ddd;
}

p {
    text-align: justify;
    font-size: 1rem;
    font-weight: 500;
}

.projects {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.project-header{
    display: flex;
    flex-direction: column;
    align-items: left;
}

h2{
    font-size: 1.1rem;
    display:block;
    unicode-bidi: isolate;
}

.tags{
    font-size: 0.8rem;
    color: #999;
    font-style: italic;
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}


@media (max-width: 480px){
    .container{
        padding: 30px 16px;
    }
}

@media (max-width: 768px){
    .container{
        padding: 40px 20px;
    }
}